<!DOCTYPE html>
<html>
	<head>
		<meta charset ="utf-8" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>A propos du projet</title>
		<meta name="viewport" content="width=device-width" />
	
	</head>
	<body>
	
		<table>
			<caption>MEMBRES DU GP8</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>NOM</th>
					<th>POST-NOM</th>
					<th>PRENOM</th>
					<th>DEPARTEMENT</th>
					<th>PHOTO</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
					
				</tr>
			
			</tbody>
			<tfoot>
			
			</tfoot>
		</table>
	</body>
</html>