<!DOCTYPE html>
<html>
	<head>
		<meta charset ="utf-8" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Graphiques</title>
		<meta name="viewport" content="width=device-width" />
	
	</head>
	<body>
		<table>
			<caption>All mesures</caption>
			<thead>
				<tr>
					<th>#index</th>
					<th>date</th>
					<th>Heure</th>
					<th>Temperature</th>
					<th>Humidite</th>
					<th>Pression</th>
					<th>Vitesse du vent</th>
					<th>Direction du vent</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
					<td>bla</td>
				</tr>
			
			</tbody>
			<tfoot>
			
			</tfoot>
		</table>
		<canvas id ="tempChart"><canvas>
		<script src = "/socket.io/socket.io.js"></script>
		<script src="/lib/chart.js"></script>
		<script src="js/other.js"></script>
	
	</body>
</html>